<h1>Get Token</h1>

<div class="row-element">
  <div class="qrscanner" id="scanner">
  </div>
</div>

<textarea id="scannedTextMemo" class="textInput form-memo form-field-input textInput-readonly" rows="3" readonly=""></textarea>

<script type="text/javascript">
   function onQRCodeScanned(scannedText)
   {
   	var scannedTextMemo = document.getElementById("scannedTextMemo");
   	if(scannedTextMemo)
   	{
    		scannedTextMemo.value = scannedText;
    	}
    }

    //this function will be called when JsQRScanner is ready to use
    function JsQRScannerReady()
    {
        //create a new scanner passing to it a callback function that will be invoked when
        //the scanner succesfully scan a QR code
        var jbScanner = new JsQRScanner(onQRCodeScanned);
        //reduce the size of analyzed images to increase performance on mobile devices
        jbScanner.setSnapImageMaxSize(300);
    	var scannerParentElement = document.getElementById("scanner");
    	if(scannerParentElement)
    	{
    	    //append the jbScanner to an existing DOM element
    		jbScanner.appendTo(scannerParentElement);
    	}
    }
</script>
<br>
<%= link_to 'Home', controller: 'welcome' %>

