<h1>Home</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path  %>
<% end %>
