<div class="text-center">
  <h1>Inviata con successo!</h1>
  <br><h3>quando l'utente accetterà la richiesta potrai visualizzare il QRcode con relativo link</h3>
  <br><hr><br>
  <%= link_to "Home", root_path, :class => 'navbar-link' %>
