<div class="text-center">
  <h1>Password</h1>
  <br>
  This Token is Password protected, please insert the passord: <br><br>
    <%= form_tag({action: 'auth', :controller=>"tokens", t: params[:t]}, {method: 'post', class: "form-inline"} ) do |f| %>
      <div class="field form-group">
        <%= text_field :password, '', class: "form-control col-xs-1" %>
        <%= submit_tag 'Ok', :class => "btn btn-default"%>
      </div>
    <% end %>
</div>
