<h1>Who Scanned Me?</h1>
<br>
<% @tokens.each do |token| %>
  <%= render partial: '/users/preview', locals: {user: token.scanner} %>
  <%= link_to 'Show Scanned Info', users_show_path(:t => token.token.token_hash), class: 'col-xs-offset-2 text-right' %>
  <hr/><br>
<% end %>
<%= link_to 'Back', root_path %>
