<style media="screen" type="text/css">

table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

td {
  border-left: solid 10px #000;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 10px;
}

td.black { border-color: #000; }
td.white { border-color: #fff; }

</style>
<br><br>
<div class="container col-lg-2 col-lg-offset-5 text-center">
<%= raw @qr.as_html %>
<br>
<strong><%= @qrlink %></strong>
</div>
